td.field {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
}

td.white{
  border-color: black;
  border-width: 1px;
}


td.black {
  background-color: gray;
}


#chesspieces {
  margin: auto;
}

#chessboard {
  margin: auto;
}
